.fellowship-page.poiema {
    background-color: var(--veryLightGray);
}

.fellowship-page.poiema .container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
}