.event-details-page .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 30vh;
}

.event-details-page .container-fluid .row {
    align-items: center;
    width: 100%;
}

.event-details-page .img {
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;
}

.event-details-page .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event-details-page .details .title {
    font-weight: 600;
    margin-bottom: 10px;
}

.event-details-page .details .item.item-with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-details-page .details .item.item-with-icon span {
    font-size: 14px;
}

.event-details-page .details .item.item.item-with-icon .icon {
    color: var(--green);
}

.event-details-page .details .item.overview p{
    font-weight: normal;
    font-size: 15px;
}