/* Navbar */
.navbar svg {
    width: 25px;
}

.navbar {
    font-family: Poppins;
    margin: auto;
    z-index: 100;
    padding: 0;
    flex-direction: row;
    transition: top 0.3s ease;
    height: var(--nav-height);
    padding: 10px;
}

.navbar.special {
    display: none;
}


.navbar .container-fluid {
    width: unset;
    flex-grow: 1;
    padding: 0;
    max-width: unset;
}

/* .navbar .info {
    display: none;
} */





/* .navbar .info .details {
    color: var(--cl--1--);
    font-size: 12px;
}

.navbar .info .icon {
    color: var(--cl--2--);
    margin-right: 3px;
} */

.navbar {}

.navbar * {
    font-weight: 500;

}



.navbar .logo {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
    padding: 0px;
    margin: 0;
    max-width: 100px;
    max-height: 60px;
    display: flex;
}

.navbar .logo img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin-right: auto;
}



.navbar .navbar-toggler {
    border: none;
    padding: 0;
    margin-left: auto;
}


.navbar .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}




.navbar .navbar-collapse .navbar-nav {
    gap: 20px;
}


.navbar .dropdown-toggle::after {
    margin-left: 0.5em
}

.navbar .nav-item .dropdown {
    display: none;
    padding-top: 10px;
    list-style: none;
    gap: 5px;
}

.navbar .nav-item .dropdown .nav-item {
    margin-bottom: 10px;
}

.navbar .nav-item .dropdown .nav-item:last-child {
    margin-bottom: 0;
}



.navbar .navbar-nav li .dropdown.show {
    display: block;
}

.navbar .dropdown-toggle::after {
    margin-left: 0.5em
}

.navbar .navbar-nav {
    gap: 10px;
}


.navbar .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar .right .nav-item.auth-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .right .nav-item.auth-nav-item .nav-link{
    color: var(--lightGray);

}

.navbar .user-auth .preview {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.5px solid var(--gray);
}



.navbar .user-auth .preview img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .user-auth .preview .username {
    color: var(--lightGray);
    max-width: 50%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.navbar .user-auth .preview .dropdown-icon {
    color: var(--lightGray);
}

.navbar .right .user-auth .user-auth-dropdown {
    display: none;
    font-size: 15px;
    color: var(--lightGray);
}



.navbar .right .user-auth .user-auth-dropdown.show {
    display: block;
}




.navbar .right .user-auth .user-auth-dropdown .links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    gap: 10px;
}


.navbar .right .user-auth .user-auth-dropdown .links .item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--veryightGray);
}

.navbar .right .user-auth .user-auth-dropdown .links .item .icon-wrapper {
    width: 35px;
    height: 35px;
    background-color: var(--platinum);
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .right .user-auth .user-auth-dropdown .links .item .icon {
    color: var(--darkGray);

}

.navbar .right .user-auth .user-auth-dropdown .links .item .right-arrow {
    margin-left: auto;
}


.navbar .nav-item-special {
    list-style: none;
}



.navbar .nav-item-special .nav-link-special {
    background-color: var(--gold);
    color: var(--white);
    border-radius: 5px;
    padding: 5px 25px;
}


.navbar .nav-item-special .nav-link-special:hover,
.navbar .nav-item-special .nav-link-special.active {
    background-color: var(--lightGold);
}


.navbar .nav-link:hover,
.navbar.scrolled .nav-link:hover {
    color: var(--gray);
}

.navbar .nav-link.active,
.navbar.scrolled .nav-link.active {
    color: var(--gold);
}




.navbar .nav-item {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse {
        position: fixed;
        top: 0;
        left: -55vw;
        height: 100vh;
        width: 55vw;
        padding: 15px;
        background-color: #1A1A1A;
        transition: left 0.5s ease;
        overflow-y: scroll;
    }

    .navbar .collapse:not(.show) {
        display: block !important;
    }

    .navbar .navbar-collapse.show {
        left: 0;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        border: none;
        padding: 5px 10px 5px 0;
        border-radius: 5px;
    }


    .navbar .nav-item .dropdown {
        margin-left: 20px;
        padding-top: 5px;
    }

    .navbar .nav-item {
        display: flex;
        flex-direction: column;
    }

    .navbar .nav-item-special {
        margin-top: 20px;
    }

}

@media screen and (min-width: 768px) {


    .navbar-container {
        width: 100%;
    }

    .navbar .navbar-collapse {
        position: static;
        padding-top: 0;
        height: 100%;
    }

    .navbar .right {
        display: flex;
        margin-left: auto;
        gap: 10px;
    }

    .navbar .right .user-auth .preview {
        margin-top: 0;
    }

    .navbar .right .user-auth .preview .username {
        display: none;
    }



    .navbar .user-auth .preview .dropdown-icon {
        display: none;
    }

    .nav-item-special {}



    .navbar .navbar-collapse .navbar-nav {
        gap: 6px;
    }

    .navbar .nav-item .dropdown {
        position: absolute;
        top: 0;
        padding-top: var(--nav-height);
    }

    .navbar .nav-item .dropdown .wrapper {
        border-top: 2px solid var(--gold);
        background-color: var(--darkGray);
        min-width: 150px;
    }

    .navbar .user-auth .user-auth-dropdown .wrapper {
        background-color: var(--offWhite);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar .nav-item .dropdown .nav-item {
        margin-bottom: 0;
    }

    .navbar .nav-item .dropdown .nav-item:hover {
        background-color: var(--black);
        cursor: pointer;
    }

    .navbar .nav-item .dropdown .nav-item:hover .nav-link {
        color: var(--lightGold);

    }

    .navbar .nav-item .dropdown .nav-item.active {
        background-color: var(--black);
    }

    .navbar .navbar-nav li:hover .dropdown {
        display: block;
    }

    .navbar .nav-item .dropdown a.nav-link {
        padding: 10px;
    }

    .navbar .nav-item .dropdown .nav-item:hover .nav-link {}

    .navbar .right .user-auth {
        position: relative;
        padding: 0;
    }

    .navbar .right .user-auth .preview {
        padding: 0;
        border-bottom: none;
    }

    .navbar .user-auth .preview img {
        margin: 0;
    }


    .navbar .right .user-auth .user-auth-dropdown {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 60px;
    }

    .navbar .right .user-auth:hover .user-auth-dropdown {
        display: block;
    }

    .navbar .right .user-auth:hover .user-auth-dropdown .wrapper {
        min-width: 200px;
        background-color: var(--white);
        padding: 11px;
        border-radius: 8px;
    }

    .navbar .right .user-auth .user-auth-dropdown .links {
        margin-top: 0;
    }


    .navbar .right .user-auth .user-auth-dropdown .links .item .title {
        color: var(--darkGray);
        font-size: 14px;
    }

}

@media screen and (min-width: 992px) {
    .navbar .right .user-auth .preview .username {
        display: flex;
        max-width: unset;
    }

    .navbar .user-auth .preview img {
        margin-right: 8px;
    }

    .navbar .user-auth .preview .dropdown-icon {
        display: block;
    }


}

@media screen and (min-width: 1200px) {

    .navbar .navbar-collapse .navbar-nav {
        gap: 15px;
    }

    .navbar .nav-link {
        padding-left: 0;
        color: var(--lightGray);
    }



    .navbar.home-page-is-active:not(.scrolled) .nav-link {
        color: var(--black);
    }

    .navbar.home-page-is-active:not(.scrolled) .right .user-auth .preview .user-icon,
    .navbar.home-page-is-active:not(.scrolled) .right .user-auth .preview .username {
        color: var(--veryLightGray);
    }

    .navbar.home-page-is-active:not(.scrolled) .right .user-auth .preview .dropdown-icon {
        color: #fff;
    }



    .navbar.home-page-is-active:not(.scrolled) .dropdown .nav-link {
        color: var(--gray);
    }

    .navbar.home-page-is-active:not(.scrolled) .dropdown .nav-link:hover {
        color: var(--gold);
    }

    .navbar.home-page-is-active:not(.scrolled) .nav-item .nav-link.active {
        color: var(--gold);
    }
}