 .blurHash {
     z-index: 20;
     position: absolute !important;
     top: 0;
     left: 0;
     overflow: hidden;
 }

 .optimized-image-wrapper {
     position: relative;
     overflow: hidden;
 }

  .image-placeholder {
     z-index: 20;
     position: absolute !important;
     height: 100%;
     width: 100%;
     background-color: #f0f0f0;
     top: 0;
     left: 0;
     overflow: hidden;
 }

 

/* .image-placeholder.background-image {
    background: #f0f0f0;
 }  */