 .blurHash {
     z-index: 20;
     position: absolute !important;
     top: 0;
     left: 0;
     overflow: hidden;
 }

 .optimized-image-wrapper {
     position: relative;
     overflow: hidden;
 }

 .lazy-load-image {
    object-fit: cover;
    overflow: hidden;
 }

  .image-placeholder {
     z-index: 20;
     position: absolute !important;
     height: 100%;
     width: 100%;
     background-color: var(--veryLightGray) !important;
     top: 0;
     left: 0;
     overflow: hidden;
 }

 

.image-placeholder.background-image {
    background: var(--veryLightGray) ;
} 