
.fellowship-page .container-fluid{
    margin-top: 70px;
    margin-bottom: 70px;

}
.fellowship-page {
    flex-direction: row;
    align-items: center;
}


.fellowship-page .text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.fellowship-page  .text-col .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

}

.fellowship-page  span {
    color: var(--forestGreen);
    text-transform: capitalize;
    font-weight: 600;
}



.fellowship-page .image {
    padding: 0;
    margin-top: 30px;
    aspect-ratio: 16/9;
}


.fellowship-page .learn-more {
    margin-top: 20px;
    color: var(--forestGreen);
}




@media screen and (min-width: 768px) {

    .fellowship-page .container-fluid {
        max-width: 800px;
    }

    .fellowship-page  .text-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    

    .fellowship-page  {
        gap: 0;
    }
}