@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


html {
    scroll-behavior: smooth;
}



body {
    --white: #FFFFFF;
    --black: #000000;
    --gray: #BDC1C6;
    --gold: #A96F00;
    --darkGold: #7d5000;
    --darkGray: #131314;
    --green: #214F0F;
    --forestGreen: #228B22;
    --offWhite: #F5F6FA;





    --nav-height: 70px;
    --nav-info-height: 40px;
    background: var(--cl--1--);
    margin: 0;
}

.app {
    position: relative;

}

img,
canvas {
    max-width: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--cl--6--);
    text-transform: capitalize;
    margin: 0;

}

h1 {
    font-size: clamp(40px, 10vw, 60px);
}

h2 {
    font-size: clamp(18px, 10vw, 30px);
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

h6 {

    margin-bottom: 7px;
}

p {
    font-size: 16px;
    color: var(--cl--6--);
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    margin: 0;
}

.row * {
    padding: 0;
}

#content {
    min-height: 90vh;
    position: relative;

}



.banner {
    height: 30vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner .breadcrumb-item a {
    color: var(--cl--3--);
}

.banner .breadcrumb-item.active {
    text-transform: capitalize;
}

.banner .breadcrumb-item::before {
    color: var(--cl--1--);
}

.banner .banner-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .banner-heading * {
    color: var(--cl--1--);
}

section {
    padding: 50px 0;
}



.section-heading {
    color: var(--cl--1--);
    font-weight: 800;
    text-transform: capitalize;
}




.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl--2--);
    color: var(--cl--1--);
    padding: 10px 25px;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
}

.page-btn:hover {
    background-color: #e55d29;
}


.page-btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cl--2--);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--cl--2--);
}


.page-btn-2:hover {
    color: var(--cl--1--);
    background-color: var(--cl--2--);
    border: 2px solid var(--cl--2--);
    cursor: pointer;
}

.bg-green {
    background: rgba(226, 242, 207, 0.42);

}



/* Home */
.overlay {
    display: none;
}




/* Additional styling for the dots if needed */
.circle {
    fill: black;
}




/* Hero */
.hero {
    height: 100vh;
    position: relative;
    padding: 0;
}

.hero .hero-img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute !important;
}

.hero .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    filter: brightness(50%);
}


.hero .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(var(--nav-height) + 30px);
    padding-bottom: 40px;
    z-index: 30;
    gap: 20px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}





.hero .content h1 {
    font-weight: 700;
    font-style: normal;
    color: var(--white);
    opacity: 1;
    z-index: 10;

}

.hero .content p {
    color: var(--white);
    opacity: 1;
    z-index: 10;
}

.hero .content .buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}


.hero .content h1,
.hero .content p,
.hero .content .buttons {
    transform: translateX(-30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 1s ease-out 1 forwards;
}

.hero .content h1 {
    animation-delay: 0.0s;
    font-size: clamp(40px, 10vw, 50px);
}

.hero .content p {
    animation-delay: 0.5s;
}

.hero .content .buttons {
    animation-delay: 1.0s;
}








.hero .content .buttons .page-btn {
    background: var(--gold);
    color: var(--white);
}

.hero .content .buttons .page-btn-2 {
    border: 2px solid var(--cl--1--);
    color: var(--cl--1--);

}

.hero .content .buttons .page-btn-2:hover {
    background: var(--cl--1--);
}

.hero .content .buttons .page-btn-2:hover,
.hero .content .buttons .page-btn-2:hover .page-btn-2-icon {
    color: var(--cl--6--);
}



.hero .content .buttons .page-btn,
.hero .content .buttons .page-btn-2 {
    display: flex;
    align-items: center;
}

.hero .content .buttons .icon {
    margin-left: 10px;
}



.hero .content .buttons .page-btn-2 .icon {
    rotate: -45deg;
}

.hero .event-countdown-card {
    border-radius: 10px;
    padding: 10px;
    background: var(--white);
    /* display: flex;
    flex-wrap: wrap; */
    /* align-items: stretch;
    height: 100%; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 180px;
    gap: 10px;
    max-width: 550px;
}

.hero .event-countdown-card .top {}

.hero .event-countdown-card .title {}

.hero .event-countdown-card .img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    /* width: 30%;
    height: 100%; */
    border-radius: 10px;
}

.hero .event-countdown-card .details {
    grid-column: 3 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero .event-countdown-card .details .item {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14px;
    /* width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}


.hero .event-countdown-card .details .item .icon {
    margin-right: 5px;
}




.hero .event-countdown-card .register a,
.hero .event-countdown-card .register .icon {
    color: var(--green);
}

.hero .event-countdown-card .countdown {
    grid-row: 2 / 3;
    grid-column: 1/7;
    width: 100%;
    padding: 10px;
}

/* Header */



.welcome {
    max-width: 1300px;
}

.welcome h1 {
    color: var(--cl--5--);
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

.welcome p {
    text-align: center;
}


.welcome h1 span {
    color: var(--cl--3--);
    font-size: 32px;
    font-weight: 700;
    display: block;
}

.home-about-us {
    padding: 100px 0px;
    background-color: var(--cl--7--);
}

.home-about-us .row {
    align-items: stretch;
    gap: 30px;
}

.home-about-us .col.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-about-us .col.left .bottom {
    display: flex;
    flex-direction: column;
}

.home-about-us .col.left .bottom span:first-child {
    color: var(--cl--3--);
    font-weight: 600;
}

.home-about-us .cards {
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.home-about-us h2 {
    color: var(--cl--8--);
}

.home-about-us .home-about-us-card {
    max-width: 460px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-about-us .home-about-us-card .img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.home-about-us .home-about-us-card h6 {
    color: var(--cl--8--);
    margin-bottom: 0;
}

.home-about-us .home-about-us-card p {}

.home-about-us .home-about-us-card .icon {
    display: flex;
    gap: 10px;
    margin-top: auto;

}

.home-about-us .home-about-us-card .icon svg {
    background-color: var(--cl--8--);
    color: var(--cl--1--);
    border-radius: 50%;
    padding: 3px;
    margin-top: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about-us .home-about-us-card .icon svg {
    width: 25px;
    height: 25px;
}


/* Home-About Us */
.reputation {
    margin-top: 70px;
}

.reputation .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reputation .section-heading {
    color: var(--cl--2--);
}


.reputation .content h1 {
    /* font-size: 40px; */
    font-weight: 600;
}

.reputation .content p {
    margin-bottom: 9px;
}


.reputation .content img,
.reputation .content .wrapper {
    width: 100%;
    border-radius: 3px;

}


.reputation .media-card-wrapper {
    position: relative;
    
}

.reputation .media-card-wrapper .sermon-card-wrapper {
    height: 100%;
}





.reputation .media-card-wrapper .img,
.reputation .media-card-wrapper canvas {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}



.reputation a {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects .cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.projects .card-title {
    font-size: 16px;
}

.projects .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.projects .card-body .card-title {
    margin-bottom: 15px;
}


.projects .card {
    height: 480px;
    width: 320px;
    border-radius: 15px;
    background: rgba(226, 242, 207, 0.42);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.projects .card-img-top {
    height: 200px;
    width: 350px;
    object-fit: cover;
    object-position: center;
}

.projects .card-btn {
    margin-right: auto;
    margin-top: auto;

}

/* Services */
.home .services {
    background: var(--cl--5--);
    color: var(--cl--1--);
}

.home .services .row>* {
    display: flex;
    justify-content: center;
}

.home .services .section-heading {
    color: var(--cl--2--);
    text-align: center;
    margin-bottom: 50px;
}

/* .home .services .section-heading {
    width: 40%;
} */






/* Swiper */




/* About Us Page */

.about-us .banner {
    margin-bottom: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("./imgs/quantum-ex-capital-solutions/2.jpg");
}

.about-us .row {
    align-items: center;
    margin-bottom: 70px;
    max-width: 1100px;
    margin: auto;
}

.about-us .row .col-12 {
    padding: 25px;
}

.about-us .row:nth-child(odd) {
    flex-direction: row-reverse;
}

.about-us .accordion-item .accordion-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}



.about-us .accordion-item {
    border: none;
    margin-bottom: 10px;
}

.about-us .accordion-button {
    font-weight: 600;
    padding: 15px;
}



.about-us .accordion-body {
    padding: 15px;
}


.about-us .accordion-body ul li {
    margin-bottom: 15px;
}

.about-us .accordion-button:not(.collapsed) {
    color: var(--cl--6--);
    background-color: var(--cl--3--);
    -webkit-transition: 0.3s ease-in-out;
}

.about-us .accordion-button:focus {
    box-shadow: none;
}

.about-us .accordion-button.collapsed {
    border: 1px solid var(--cl--3--);
}

.about-us .body-text {
    margin-bottom: 10px;
}

.about-us .our-team .wrapper {
    display: flex;
    justify-items: center;
}

.about-us .our-team .cards {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.about-us .our-team .card {
    width: 300px;
    height: 470px;
    background-color: var(--cl--4--);
    overflow: hidden;
    border: none;
}

.about-us .our-team .card * {
    color: var(--cl--2--);
}


.about-us .our-team .card .img-wrapper {
    background-color: var(--cl--2--);
}

.about-us .our-team .card .card-img {
    height: 220px;
    object-fit: cover;
    object-position: top;
    border-radius: 0;
    margin-top: 10px;
}

.about-us .our-team .card-body {
    position: relative;
    padding: 0 15px;
}


.about-us .our-team .card .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--cl--1--);
}

.about-us .our-team .card .logo img {
    width: 70%;
    height: 70%;
}

.about-us .our-team .card .content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-us .our-team .card .name {
    border-bottom: 3px solid var(--cl--2--);
    width: fit-content;
    padding-bottom: 8px;
}


.about-us .our-team .card .media-links {
    position: absolute;
    bottom: 0;

}

/* End About Us */


/* projects */
.page.projects {
    background-color: var(--cl--7--);

}

.projects .container-fluid {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.projects .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("./imgs/quantum-ex-capital-solutions/2.jpg");
    background-position: center center;
}


.projects .row {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: var(--cl--1--);
    flex-direction: row-reverse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);

}





.projects .row:hover {
    opacity: 0.9;
    background-color: var(--cl--2--);
    cursor: pointer;
}

/* End projects */





/* End Join Us */



/* give */

.give .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./imgs/quantum-ex-capital-solutions/1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}


.give .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;


}

.give .content * {
    color: var(--cl--1--);
    text-align: center;
}


/* End give */

/* End */



/* Contact */

.contact-page .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("./imgs/quantum-ex-capital-solutions/2.jpg");
    background-position: 50% 50%;

}

.contact-content .row * {
    padding: 12px;
}

.contact-content {
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
    padding: 70px 0;
}


.contact-content p {
    padding: 1em 0;
}

.form {
    flex-wrap: wrap;
    gap: 2em;
}

.form>* {
    flex: 1 1 15em;
}

form input,
form select,
form textarea {
    padding: 1em 0.5em;
    width: 100%;
    border: 1px solid var(--cl-10--);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form select option:checked {
    background: var(--cl--3--);
    color: var(--cl--1--);
}

.form+div {
    padding-top: 2em;
}

form p {
    text-align: left;
    padding: 0 0 2em 0 !important;
}

/* End Contact */





/* Footer */


footer {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 3em;
    position: relative;

}

footer .logo-col {
    justify-content: center;
}

footer .logo {
    width: 75%;
}

.logo-img {
    width: 40px;
}



footer h5 {
    color: var(--cl--2--);
    font-weight: 600;
    margin-bottom: 20px;
}

footer .link-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

footer .link-category a {
    color: var(--cl--1--);
    margin-bottom: 10px;
}

footer .link-category a:hover {
    color: var(--cl--9--);
}


footer form h5 {
    color: var(--cl--7--);
}


footer .form-container {
    display: flex;
    margin-bottom: 20px;
}

footer .form-container input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}



footer .page-btn {
    background-color: var(--cl--8--);
    border: none;
    color: var(--cl--1--);
    border-radius: 5px;
    font-weight: 500;
}

footer .page-btn:hover {
    background-color: var(--cl--4--);
}




.media-links {
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}


.media-links a {
    fill: var(--cl--3--);
    width: 40px;
}

.media-links .media-icon {
    width: 32px;
    max-width: unset;
}


.media-links a:hover {
    fill: var(--cl--4--);
}

.company-info a {
    color: var(--cl--8--);
}

.company-info div {
    display: flex;
    margin-bottom: 10px;
}

.company-info span {
    color: var(--cl--1--);
    /* display: inline-block; */
    min-width: 75px;
}

.company-info p {
    margin-bottom: 10px;
    color: var(--cl--1--);
    /* display: inline; */
}



.copy-right {
    width: 90%;
    padding-top: 3em;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--cl--2--);
    justify-content: center;
}

.copy-right .copy-right-btn {
    margin-left: auto;
    padding: 10px 23px;
    color: var(--cl--1--);
    background-color: var(--cl--2--);
    text-wrap: nowrap;
}

.copy-right a:hover {
    background-color: #0f1114;
}


.copy-right p {
    font-size: 14px;
    color: var(--cl--2--);
    padding-left: 10px;
}


@media screen and (max-width: 375px) {
    .link-category {
        width: 100%;
    }

    footer .form-container {
        flex-wrap: wrap;
    }

    footer .form-container input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer .page-btn {
        width: 100%;
    }

    .hero .content .buttons>* {
        width: 100%;
    }
}




@media screen and (min-width: 567px) {
    .container-fluid {
        padding: 0;
        width: 80%;
        max-width: 1200px;
    }

    .home .services .service-wrapper {
        padding: 0 20px 40px;
    }


    

    




    .hero .event-countdown-card .countdown {
        grid-column: 3/7;
        padding: 0;
    }

    .hero .event-countdown-card {
        grid-template-rows: repeat(3, 50px);
        gap: 20px;
        padding: 20px;
    }

    .hero .event-countdown-card .img {
        grid-row: 1 / 4;
    }

    .hero .event-countdown-card .details {
        grid-row: 1 / 3;
    }

    .hero .event-countdown-card .countdown {
        grid-row: 3 / 4;
    }

}

@media screen and (min-width: 640px) {
    
}

@media screen and (max-width: 767px) {
    




    .reputation .container-fluid .row {
        gap: 50px;
    }

    .hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-top: 0;
    }





    .give .banner {
        height: 100vh;
    }
}

@media screen and (min-width: 768px) {
    .container-fluid {
        width: 90%;
    }



    

    .hero {
        height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-top: 0;
    }



    .hero .content {
        max-width: 80%;
        gap: 15px;
    }



    /* .hero .hero-img-wrapper {
        width: 40%;
        height: 95vh;
        object-fit: cover;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        position: absolute;
        right: 0;
        top: calc(var(--nav-height) + 20px);
    } */



    .banner {
        height: 50vh;
    }

    .give .banner {
        height: 70vh;
    }


    .reputation .page-btn-2 {
        width: unset;
    }


    .home-about-us .row {
        gap: 0;

    }

    .home-about-us .home-about-us-card {
        width: 50%;
        padding: 0 15px;
    }

    .home-about-us .home-about-us-card {}



    .home .services .section-heading {
        text-align: start;
        width: 40%;
    }

    .projects .row img {
        aspect-ratio: 1;
        object-fit: cover;
    }

    footer .container-fluid {
        width: 90%;
    }

}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .hero {
        height: 180vh;
    }

    .content h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 992px) {
    

    .hero .content {
        max-width: 80%;
    }
}




@media screen and (min-width: 1200px) {
    .overlay {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        /* Adjust the width as needed */
        z-index: 10;
        height: 100%;
        /* Cover the entire height of the viewport */
        pointer-events: none;
        /* Allow clicks to pass through to the content below */
        transition: padding-top .3s ease-in;

    }

    .overlay.scrolled {
        padding-top: 0;
    }

    .line-svg,
    .line-svg-2 {
        overflow: visible;

    }

    .line-svg {
        margin-left: 8%;

    }

    .line-svg-2 {
        margin-left: 40%;
    }

    .hero {
        height: 100vh;
        background: var(--cl--5--);

    }

    .hero .container-fluid {
        height: 100%;
        width: 60%;
        /* Width must match with width of .hero-img to form 100% */
        padding: 0;
        gap: 0;
    }

    .hero .content {
        justify-content: center;
        background-color: rgba(33, 79, 15, 0.25); /* #214F0F with 50% transparency */
        width: 100%;
        height: 55%;
        max-width: 100%;
        padding: calc(var(--nav-height)) 20px 30px 130px;
    }
    
    .hero .content .text{
        width: 80%;
    }

    .hero .content h1 {
        
        color: var(--black);
    }

    .hero .content p {
        color: var(--black);
    }


    

    .hero .hero-img-wrapper {
        width: 45% !important;
        height: 100% !important;
        position: static !important;

    }

    .hero .hero-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 2;
        filter: brightness(0.8);
    }

    .hero .event-countdown-card-wrapper {
        width: 100%;
        height: 45%;
        display: flex;
        align-items: center;
        padding-left: 130px;
    }

    .hero .event-countdown-card {
        background: none;
    }

    .hero .event-countdown-card {
        padding: 0;
        grid-template-rows: repeat(3, 60px);
    }

    .container-fluid {
        width: 80%;
    }

    .reputation .container-fluid>.row {

        flex-direction: row;
    }

    .reputation .container-fluid>.row>div {
        padding: 5px;
    }

    .banner {
        height: 50vh;
    }

    .give .banner {
        height: 100vh;
    }

    .reputation .page-btn-2 {
        width: 100%;
    }

    .home-about-us .container-fluid {
        width: 90%;
    }

    .projects .row img {
        aspect-ratio: auto;
        object-fit: cover;
    }

    .about-us .row {
        margin-bottom: 70px;
    }



}