@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


html {
    scroll-behavior: smooth;
}



body {
    --white: #FFFFFF;
    --black: #000000;
    --gray: #BDC1C6;
    --gold: #A96F00;
    --darkGold: #7d5000;
    --darkGray: #131314;
    --green: #214F0F;
    --forestGreen: #228B22;
    --offWhite: #F5F6FA;





    --nav-height: 70px;
    --nav-info-height: 40px;
    background: var(--cl--1--);
    margin: 0;
}

.app {
    position: relative;

}

img,
canvas {
    max-width: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--cl--6--);
    text-transform: capitalize;
    margin: 0;

}

h1 {
    font-size: clamp(40px, 10vw, 60px);
}

h2 {
    font-size: clamp(18px, 10vw, 30px);
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

h6 {

    margin-bottom: 7px;
}

p {
    font-size: 16px;
    color: var(--cl--6--);
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    margin: 0;
}

.row * {
    padding: 0;
}

#content {
    min-height: 90vh;
    position: relative;

}



section {
    padding: 50px 0;
}



.section-heading {
    color: var(--cl--1--);
    font-weight: 800;
    text-transform: capitalize;
}




.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl--2--);
    color: var(--cl--1--);
    padding: 10px 25px;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
}

.page-btn:hover {
    background-color: #e55d29;
}


.page-btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cl--2--);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--cl--2--);
}


.page-btn-2:hover {
    color: var(--cl--1--);
    background-color: var(--cl--2--);
    border: 2px solid var(--cl--2--);
    cursor: pointer;
}

.bg-green {
    background: rgba(226, 242, 207, 0.42);

}





/* About Us Page */



.about-us .row {
    align-items: center;
    margin-bottom: 70px;
    max-width: 1100px;
    margin: auto;
}

.about-us .row .col-12 {
    padding: 25px;
}

.about-us .row:nth-child(odd) {
    flex-direction: row-reverse;
}

.about-us .accordion-item .accordion-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}



.about-us .accordion-item {
    border: none;
    margin-bottom: 10px;
}

.about-us .accordion-button {
    font-weight: 600;
    padding: 15px;
}



.about-us .accordion-body {
    padding: 15px;
}


.about-us .accordion-body ul li {
    margin-bottom: 15px;
}

.about-us .accordion-button:not(.collapsed) {
    color: var(--cl--6--);
    background-color: var(--cl--3--);
    -webkit-transition: 0.3s ease-in-out;
}

.about-us .accordion-button:focus {
    box-shadow: none;
}

.about-us .accordion-button.collapsed {
    border: 1px solid var(--cl--3--);
}

.about-us .body-text {
    margin-bottom: 10px;
}

.about-us .our-team .wrapper {
    display: flex;
    justify-items: center;
}

.about-us .our-team .cards {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.about-us .our-team .card {
    width: 300px;
    height: 470px;
    background-color: var(--cl--4--);
    overflow: hidden;
    border: none;
}

.about-us .our-team .card * {
    color: var(--cl--2--);
}


.about-us .our-team .card .img-wrapper {
    background-color: var(--cl--2--);
}

.about-us .our-team .card .card-img {
    height: 220px;
    object-fit: cover;
    object-position: top;
    border-radius: 0;
    margin-top: 10px;
}

.about-us .our-team .card-body {
    position: relative;
    padding: 0 15px;
}


.about-us .our-team .card .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--cl--1--);
}

.about-us .our-team .card .logo img {
    width: 70%;
    height: 70%;
}

.about-us .our-team .card .content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-us .our-team .card .name {
    border-bottom: 3px solid var(--cl--2--);
    width: fit-content;
    padding-bottom: 8px;
}


.about-us .our-team .card .media-links {
    position: absolute;
    bottom: 0;

}

/* End About Us */






.give .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;


}

.give .content * {
    color: var(--cl--1--);
    text-align: center;
}


/* End give */

/* End */



/* Contact */


.contact-content .row * {
    padding: 12px;
}

.contact-content {
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
    padding: 70px 0;
}


.contact-content p {
    padding: 1em 0;
}

.form {
    flex-wrap: wrap;
    gap: 2em;
}

.form>* {
    flex: 1 1 15em;
}

form input,
form select,
form textarea {
    padding: 1em 0.5em;
    width: 100%;
    border: 1px solid var(--cl-10--);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form select option:checked {
    background: var(--cl--3--);
    color: var(--cl--1--);
}

.form+div {
    padding-top: 2em;
}

form p {
    text-align: left;
    padding: 0 0 2em 0 !important;
}

/* End Contact */





/* Footer */


footer {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 3em;
    position: relative;

}

footer .logo-col {
    justify-content: center;
}

footer .logo {
    width: 75%;
}

.logo-img {
    width: 40px;
}



footer h5 {
    color: var(--cl--2--);
    font-weight: 600;
    margin-bottom: 20px;
}

footer .link-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

footer .link-category a {
    color: var(--cl--1--);
    margin-bottom: 10px;
}

footer .link-category a:hover {
    color: var(--cl--9--);
}


footer form h5 {
    color: var(--cl--7--);
}


footer .form-container {
    display: flex;
    margin-bottom: 20px;
}

footer .form-container input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}



footer .page-btn {
    background-color: var(--cl--8--);
    border: none;
    color: var(--cl--1--);
    border-radius: 5px;
    font-weight: 500;
}

footer .page-btn:hover {
    background-color: var(--cl--4--);
}




.media-links {
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}


.media-links a {
    fill: var(--cl--3--);
    width: 40px;
}

.media-links .media-icon {
    width: 32px;
    max-width: unset;
}


.media-links a:hover {
    fill: var(--cl--4--);
}

.company-info a {
    color: var(--cl--8--);
}

.company-info div {
    display: flex;
    margin-bottom: 10px;
}

.company-info span {
    color: var(--cl--1--);
    /* display: inline-block; */
    min-width: 75px;
}

.company-info p {
    margin-bottom: 10px;
    color: var(--cl--1--);
    /* display: inline; */
}



.copy-right {
    width: 90%;
    padding-top: 3em;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--cl--2--);
    justify-content: center;
}

.copy-right .copy-right-btn {
    margin-left: auto;
    padding: 10px 23px;
    color: var(--cl--1--);
    background-color: var(--cl--2--);
    text-wrap: nowrap;
}

.copy-right a:hover {
    background-color: #0f1114;
}


.copy-right p {
    font-size: 14px;
    color: var(--cl--2--);
    padding-left: 10px;
}


@media screen and (max-width: 375px) {
    .link-category {
        width: 100%;
    }

    footer .form-container {
        flex-wrap: wrap;
    }

    footer .form-container input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer .page-btn {
        width: 100%;
    }

    
}




@media screen and (min-width: 567px) {
    .container-fluid {
        padding: 0;
        width: 80%;
        max-width: 1200px;
    }



}

@media screen and (min-width: 640px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (min-width: 768px) {
    .container-fluid {
        width: 90%;
    }

    .home-about-us .row {
        gap: 0;

    }

    .home-about-us .home-about-us-card {
        width: 50%;
        padding: 0 15px;
    }

    .home-about-us .home-about-us-card {}


    footer .container-fluid {
        width: 90%;
    }

}

@media screen and (max-width: 991px) and (orientation: landscape) {
    
    
}

@media screen and (min-width: 992px) {
    
}




@media screen and (min-width: 1200px) {
    .overlay {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        /* Adjust the width as needed */
        z-index: 10;
        height: 100%;
        /* Cover the entire height of the viewport */
        pointer-events: none;
        /* Allow clicks to pass through to the content below */
        transition: padding-top .3s ease-in;

    }

    .overlay.scrolled {
        padding-top: 0;
    }

    .line-svg,
    .line-svg-2 {
        overflow: visible;

    }

    .line-svg {
        margin-left: 8%;

    }

    .line-svg-2 {
        margin-left: 40%;
    }

    
    .container-fluid {
        width: 80%;
    }

    


    

    .home-about-us .container-fluid {
        width: 90%;
    }

    

}