@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


html {
    scroll-behavior: smooth;
}



body {
    --white: #FFFFFF;
    --black: #000000;
    --veryLightGray: #f5f5f5;
    --lightGray: #BDC1C6;
    --platinum: #E5E4E2;
    --gray: gray;
    --darkGray: #131314;
    --lightGold: #955B00;
    --gold: #A96F00;
    --darkGold: #7d5000;
    --green: #214F0F;
    --lightGreen: #2B671B;
    --forestGreen: #228B22;
    --darkGreen: #1B3D0A;
    --offWhite: #FAF9F6;





    --nav-height: 70px;
    --nav-info-height: 40px;
    background: var(--cl--1--);
    margin: 0;
}

.app {
    position: relative;

}

img,
canvas {
    max-width: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--cl--6--);
    text-transform: capitalize;
    margin: 0;
}

h1 {
    font-size: clamp(40px, 10vw, 60px);
}

h2 {
    font-size: clamp(18px, 10vw, 30px);
}

h3 {
    font-size: clamp(16px, 10vw, 24px);
}

h6 {}

p {
    font-size: 16px;
    color: var(--cl--6--);
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    margin: 0;
}



#content {
    min-height: 20vh;
    position: relative;
}



section {
    padding: 50px 0;
}



.section-heading {
    color: var(--cl--1--);
    font-weight: 800;
    text-transform: capitalize;
}




.btn-green-solid {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    padding: 8px 25px;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
}

.btn-green-solid:hover {
    background-color: var(--lightGreen);
    cursor: pointer;
}


.btn-green-outline {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--green);
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--green);
}


.btn-green-outline:hover {
    color: var(--white);
    background-color: var(--green);
    border: 2px solid var(--green);
    cursor: pointer;
}

.btn-gold-solid {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
    color: var(--white);
    padding: 8px 25px;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
}

.btn-gold-solid:hover {
    background-color: var(--darkGold);
    cursor: pointer;
}


.btn-gold-outline {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--gold);
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--gold);
}


.btn-gold-outline:hover {
    color: var(--white);
    background-color: var(--gold);
    border: 2px solid var(--gold);
    cursor: pointer;
}

.bg-green {
    background: rgba(226, 242, 207, 0.42);

}


.form-page {
    background-color: var(--offWhite);

}

.form-page .container {
    background-color: var(--white);
    padding: 0;
    
}


.form-page .image-col {
    padding: 0;
    display: none;
    background-color: rgba(43, 103, 27 , 0.3);
}

.form-page .image-col .form-image {
    height: 100%;
    width: 100%;
}

.form-page .image-col.png-image-col {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 103, 27 , 0.2);
}

.form-page .image-col.png-image-col .png-img {
    height: 75%;
    width: 75%;
}

.form-page .image-col .form-image.png-img img{
    object-fit: contain;
}



.illustration-col {
    padding: 60px;
}



/* .form-page .form-column {
    text-align: center;
    padding: 50px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
} */


.form-page .form-col {
    padding-top: 30px;
    padding-bottom: 30px;
}




form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 15px;
    row-gap: 3px;
}


form .input-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

form .input-item {
    font-size: 14px;
}



form .input-item.text-area {
    grid-column: 1 /-1;
}

form .submit-btn {
    grid-column: 1/-1;
    justify-self: center;
    width: 100%;
}




form input,
form select,
form textarea {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background-color: var(--veryLightGray);
    border: 1px solid var(--lightGray);
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}



form .error-message-container {
    color: #fc8181;
    font-size: 12px;
    width: 100%;
    text-align: start;
    min-height: 18px;
}




form input:focus-visible,
form select:focus-visible,
form textarea:focus-visible {
    outline: none;
    border-color: var(--forestGreen);
}

form input.input-error,
form select.input-error,
form textarea.input-error {
    outline: none !important;
    border-color: #fc8181 !important;
}


form+div {
    padding-top: 2em;
}



form button {
    margin: auto;
}
















.give .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;


}

.give .content * {
    color: var(--cl--1--);
    text-align: center;
}


/* End give */

/* End */



/* Contact */






/* End Contact */





/* Footer */


footer {
    background-color: var(--platinum);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

footer .container {
    padding: 3em 10px;
    max-width: unset;
}

footer .info-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

footer .info-col .info-heading {
    font-size: 14px;
    color: var(--gray);
}

footer .info-col .img {
    width: 80px;
}

footer .logo-col {
    justify-content: center;
}

footer .logo {
    width: 75%;
}

.logo-img {
    width: 40px;
}



footer .category-heading {
    font-weight: 600;
    margin-bottom: 10px;
}



footer .link-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding:  0;
    padding-right: 10px;
}

footer .link-category a {
    color: var(--gray);
    font-size: 14px;
    margin-bottom: 10px;
}

footer .link-category a:hover {
    color: var(--darkGreen);
}





footer .page-btn {
    background-color: var(--cl--8--);
    border: none;
    color: var(--cl--1--);
    border-radius: 5px;
    font-weight: 500;
}

footer .page-btn:hover {
    background-color: var(--cl--4--);
}




.media-links {

    align-items: center;
    flex-direction: row;
}

.media-links .links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.media-links a {
    color: var(--green);
}

.media-links img {
    width: 32px;
    max-width: unset;
}


.media-links a:hover {
    fill: var(--cl--4--);
}

.company-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.company-info a {
    color: var(--gray);
    font-size: 14px;

}

.company-info a:hover {
    color: var(--gold);
}


.company-info .item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.company-info .item .icon {
    color: var(--darkGreen);
    /* display: inline-block; */

}

.company-info p {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--gray);
    /* display: inline; */
}



.copy-right {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    background-color: #C7CCD1;
    justify-content: center;
}



.copy-right a:hover {
    background-color: #0f1114;
}


.copy-right p {
    font-size: 14px;
    color: var(--darkGray);
    padding-left: 10px;
}


@media screen and (max-width: 375px) {
    .link-category {
        width: 100%;
    }


    footer .page-btn {
        width: 100%;
    }




}




@media screen and (min-width: 567px) {
    .container-fluid {
        padding: 0;
        width: 80%;
        max-width: 1200px;
    }

    .form-page {
        background-color: var(--veryLightGray);
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-page .container {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 900px;
        border-radius: 10px;
        overflow: hidden;
    }

    .form-page .form-col {
        padding: 40px 25px;

    }

    form .submit-btn {
        width: auto;
    }

    footer .container {
        padding: 3em 2em;
    }

    footer .info-col .info-heading {
        font-size: 14px;
        width: 70%;
    }
}

@media screen and (min-width: 640px) {}

@media screen and (max-width: 767px) {}


@media screen and (min-width: 768px) {

    .container-fluid {
        width: 90%;
    }

    .home-about-us .row {
        gap: 0;

    }

    .home-about-us .home-about-us-card {
        width: 50%;
        padding: 0 15px;
    }

    .home-about-us .home-about-us-card {}


    footer .container-fluid {
        width: 90%;
    }

    form {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media screen and (min-width: 992px) {
    .form-page .image-col {
        display: block;
    }
    
    .form-page .image-col.png-image-col {
        display: flex;
    }

}




@media screen and (min-width: 1200px) {
    .overlay {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        /* Adjust the width as needed */
        z-index: 10;
        height: 100%;
        /* Cover the entire height of the viewport */
        pointer-events: none;
        /* Allow clicks to pass through to the content below */
        transition: padding-top .3s ease-in;

    }

    .overlay.scrolled {
        padding-top: 0;
    }

    .line-svg,
    .line-svg-2 {
        overflow: visible;

    }

    .line-svg {
        margin-left: 8%;

    }

    .line-svg-2 {
        margin-left: 40%;
    }


    .container-fluid {
        width: 80%;
    }






    .home-about-us .container-fluid {
        width: 90%;
    }



}