
.events-page .events .container-fluid {
    margin-top: 40px;
    margin-bottom: 70px;
}

.events-page .filter{
    border-bottom: 1.5px solid var(--lightGray);
    
}


.events-page .filter .container-fluid{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.events-page .filter .filter-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--green);
    padding: 7px 25px;
    border-radius: 999px;
    font-weight: 500;
    color: var(--green);
}

.events-page .filter .filter-item.active {
    background-color: var(--green);
    color: var(--white);
}


.events-page .filter .filter-item:not(.active):hover {
    background-color: var(--lightGray);
    cursor: pointer;
}


.filter {
    position: relative; /* Initial position */
    /* Additional styling */
    background-color: var(--white);
  }
  
  .filter.sticky {
    position: fixed;
    top: var(--nav-height);
    width: 100%;
    z-index: 10;
    transition: all .3s ease-in; /* Ensure the filter is above other content */
    /* Additional styling for when it's sticky */
  }
  







