.banner {
    height: 30vh;
    padding-top: calc(var(--nav-height) / 2);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner .breadcrumb {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.banner .breadcrumb-item-wrapper {
    display: flex;
    align-items: center;
}

.banner .breadcrumb-item.home a {
    margin-bottom: 3px;
    margin-right: 10px;
    color: var(--gold);

}

.banner .breadcrumb-item a {
    height: 100%;
    color: var(--gold);
}

.banner .breadcrumb-item.last span{
    color: var(--white);
}

.banner .breadcrumb-item.active {
    text-transform: capitalize;
}

.banner .breadcrumb-item::before {
    display: none;
}

.banner .breadcrumb-separator {
    margin-right: 10px;
    color: var(--black);
}

.banner .banner-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    padding: 10px;
}

.banner .banner-heading .title {
    color: var(--white);
    text-align: center;
    font-size: clamp(20px, 4vw, 26px);
}

.banner .background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.3);
}


@media screen and (min-width: 768px) {
    .banner {
        
    }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
    .banner {
        height: 50vh;
    }
}


@media screen and (min-width: 1200px) {
    .banner {
        height: 35vh;
    }
}